{% extends 'base.html.twig' %}

{% block main %}
<div class="container mx-auto">
    <div class="bg-white shadow-md rounded-lg">
        <div class="px-4 py-2 border-b">
            <h2 class="text-xl font-semibold">Liste des clients</h2>
        </div>
        <div class="p-4">
            <div class="flex justify-end mb-2">
                <button aria-label="Créer un nouveau client" id="create-client-button"
                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
                    onclick="openModal()">Créer</button>
            </div>

            {# Affichage des messages flash pour les informations et les succès #}
            {% for message in app.flashes('info') %}
            <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4" role="alert">
                <p>{{ message }}</p>
            </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
            <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
                <p>{{ message }}</p>
            </div>
            {% endfor %}

            {# Formulaire de recherche de client #}
            {{ form_start(formSearch) }}
            <div class="mb-2 text-red-500">
                {{ form_errors(formSearch.telephone) }}
            </div>
            <div class="flex my-2">
                {{ form_widget(formSearch.telephone, { 'attr': {'class': 'border border-gray-300 rounded-md px-3 py-2
                w-1/3 mr-2', 'placeholder': 'Numéro de téléphone'} }) }}
                {{ form_widget(formSearch.Search, { 'attr': {'class': 'bg-green-500 text-white px-4 py-2 rounded-md
                hover:bg-green-600'} }) }}
            </div>
            {{ form_end(formSearch) }}

            {# Tableau des clients #}
            <div class="overflow-x-auto mt-3">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">#</th>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Nom</th>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Prénom</th>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Téléphone</th>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Adresse</th>
                            <th class="px-4 py-2 text-left text-sm font-medium text-gray-500">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for client in clients %}
                        <tr>
                            <td class="px-4 py-2">
                                <img src="{{ asset('images/avatar.jpg') }}" alt="avatar.jpg"
                                    class="w-12 h-12 rounded-full">
                            </td>
                            <td class="px-4 py-2">{{ client.surname ?? 'N/A' }}</td>
                            <td class="px-4 py-2">{{ client.prenom ?? 'N/A' }}</td>
                            <td class="px-4 py-2">{{ client.telephone ?? 'N/A' }}</td>
                            <td class="px-4 py-2">{{ client.adresse ?? 'N/A' }}</td>
                            <td class="px-4 py-2">
                                <a href="{{ path('clients.edit', { id: client.id }) }}" class="btn btn-warning">
                                    <i class="fas fa-edit"></i> <!-- Icône de modification -->
                                </a>

                                <form action="{{ path('clients.delete', { id: client.id }) }}" method="post"
                                    style="display: inline;">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce client ?');">
                                        <i class="fas fa-trash"></i> <!-- Icône de suppression -->
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6" class="text-center p-4">Aucun client trouvé.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {# Pagination #}
            <div class="flex justify-between items-center mt-4">
                <div>
                    {% if currentPage > 1 %}
                    <form action="{{ path('clients.index', { page: currentPage - 1 }) }}" method="GET">
                        <button type="submit"
                            class="bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded">
                            Précédent
                        </button>
                    </form>
                    {% endif %}
                </div>

                <span class="text-gray-700">
                    Page {{ currentPage }} sur {{ totalPages }}
                </span>

                <div>
                    {% if currentPage < totalPages %} <form
                        action="{{ path('clients.index', { page: currentPage + 1 }) }}" method="GET">
                        <button type="submit"
                            class="bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded">
                            Suivant
                        </button>
                        </form>
                        {% endif %}
                </div>
            </div>

        </div>
    </div>

    {# Modal de création de client #}
    <div id="createClientModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white rounded-lg p-4 shadow-md">
                <h2 class="text-xl font-semibold mb-4">Créer un client</h2>
                {{ form_start(formCreate) }}

                <div class="mb-4">
                    {{ form_row(formCreate.surname, { 'attr': {'class': 'border border-gray-300 rounded-md px-3 py-2
                    w-full', 'placeholder': 'Nom'} }) }}
                </div>
                <div class="mb-4">
                    {{ form_row(formCreate.prenom, { 'attr': {'class': 'border border-gray-300 rounded-md px-3 py-2
                    w-full', 'placeholder': 'Prénom'} }) }}
                </div>
                <div class="mb-4">
                    {{ form_row(formCreate.telephone, { 'attr': {'class': 'border border-gray-300 rounded-md px-3 py-2
                    w-full', 'placeholder': 'Numéro de téléphone', 'id': 'formCreate_telephone'} }) }}
                    <div id="telephone-error-message" class="text-red-500 mt-2"></div>
                </div>
                <div class="mb-4">
                    {{ form_row(formCreate.adresse, { 'attr': {'class': 'border border-gray-300 rounded-md px-3 py-2
                    w-full', 'placeholder': 'Adresse'} }) }}
                </div>

                <div class="flex justify-end">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Créer
                        Client</button>
                    <button type="button" class="ml-2 bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600"
                        onclick="closeModal()">Annuler</button>
                </div>
                {{ form_end(formCreate) }}
            </div>
        </div>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById('createClientModal').classList.remove('hidden');
        document.querySelector('#formCreate_telephone').focus(); // Met le focus sur le premier champ
    }

    function closeModal() {
        document.getElementById('createClientModal').classList.add('hidden');
    }

    // Validation du numéro de téléphone
    document.querySelector('#formCreate_telephone').addEventListener('input', function (event) {
        const telephoneInput = document.querySelector('#formCreate_telephone');
        const errorMessage = document.querySelector('#telephone-error-message');

        const isValid = /^(77|78|76)([0-9]{7})$/.test(telephoneInput.value);
        if (!isValid) {
            errorMessage.innerText = "Le numéro de téléphone doit être au format 77XXXXXX ou 78XXXXXX ou 76XXXXXX";
            telephoneInput.classList.add('border-red-500');
        } else {
            errorMessage.innerText = "";
            telephoneInput.classList.remove('border-red-500');
        }
    });
</script>
{% endblock %}